<!--
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
-->

<a href="/">home</a> | <a href="/todo">TODOs</a> | <a href="/about">about</a>
<div *ngIf="isLoggedIn" style="text-align: right">
    <p class="navbar-text navbar-right">Logged In: {{userDisplayName}} ({{userEmail}})
        <button class="btn btn-default" (click)="logout()">Logout</button>
    <p>
</div>
<div *ngIf="!isLoggedIn" style="text-align: right">
    <p class="navbar-text navbar-right">Logged Out</p>
</div>